.btn{
  margin:10px;
  width:80px;
  height:40px;
  background-color:#3ccaea;
  color:white;
  border-radius:5px;
  border-color:black;
}

.board-wrapper{
  display:inline-block;
}
.next-piece-wrapper{
  padding-left:25px;
  display:inline-block;
}
