.cell{
  box-sizing:border-box;
  border:1px solid #520202;
  margin:1px;
  float:left;
  width:23px;
  height:23px;
}

.i-piece{
    background-color:cyan;
}

.j-piece{
  background-color:blue;
}

.l-piece{
  background-color:orange;
}

.o-piece{
  background-color:yellow;
}

.s-piece{
  background-color:lime;
}

.t-piece{
  background-color:purple;
}

.z-piece{
  background-color:red;
}
